@font-face {
	font-family: 'GT America';
	src: url('../fonts/GT-America-Standard-Regular.woff2') format('woff2'),
		url('../fonts/GT-America-Standard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

:root {
	scroll-behavior: smooth;

	/* color variables */
	--background: #fdfcfb;
	--text-primary: #212029;
	--text-secondary: #656377;
	--accent-text: #2C1CC2;
	--accent-header: #ECEDA5;

	/* spacing variables */
	--space-xs: 0.5rem;
	--space-sm: 1rem;
	--space-md: 1.5rem;
	--space-lg: 3rem;
	--space-xl: 4rem;
	--space-xxl: 6rem;

	--typography-xl: 2.5rem;
	--typography-lg: 2rem;
	--typography-md: 1.45rem;
	--typography-sm: 1.25rem;
	--typography-xs: 1.125rem;
	--typography-xxs: 1rem;


	--line-height-loose: 1.75;
	--line-height-body: 1.6;
	--line-height-tight: 1.385;



	/* effects */
	--shadow: 0 0 10px #E4E4E480;
}

body {
	/* layout */
	background-color: var(--background);
	margin: var(--space-sm) auto;

	/* typography */
	font-family: 'GT America', Arial, sans-serif;
	color: var(--text-primary);
	font-weight: 400;
	text-wrap: pretty;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;

	a {
		color: var(--text-primary);
	}
}

/* ------------------------ */

main {
	position: relative;
	width: 85%;
	max-width: 800px;
	margin: 0 auto;
	padding: var(--space-lg) 0 var(--space-xxl);

	@media (min-width: 768px) {
		width: 55%;
	}
}

img {
	width: 100%;
}

/*---------------------------HEADER---------------------------*/

header {
	margin-top: var(--space-lg);
	display: flex;
	justify-content: center;
	position: sticky;
	top: var(--space-md);
	z-index: 10;
}

.header-pill {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	background: var(--accent-header);
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
	box-shadow: var(--shadow);
	font-size: var(--typography-md);
	line-height: 1.6rem;
	color: var(--text-primary);
	text-decoration: none;
	white-space: nowrap;

	@media (min-width: 768px) {
		font-size: var(--typography-md);
		line-height: 1.75rem;
	}
}


/*---------------------------CARDS---------------------------*/


/* typography */
h1,
h2,
h3,
p.caption,
a.project-title {
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-size: var(--typography-lg);
	line-height: var(--line-height-headline);
	font-weight: 400;

	@media (min-width: 768px) {
		font-size: var(--typography-xl);
	}

	&:hover {
		color: var(--text-primary);
	}
}

/* h2 {
	font-size: var(--typography-md);
	line-height: var(--line-height-headline);
	font-weight: 400;
	max-width: 800px;
	padding-top: var(--space-sm);

	@media (min-width: 768px) {
		font-size: 1.875rem;
	}
} */

h3 {
	font-size: var(--typography-sm);
	line-height: var(--line-height-tight);
	font-weight: 400;
	padding: var(--space-xs) 0 var(--space-md) 0;
	color: var(--text-primary);
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;

	@media (min-width: 768px) {
		width: 80%;
		font-size: var(--typography-md);
	}
}

h4 {
	font-size: var(--typography-xxs);
	line-height: var(--line-height-tight);
	margin: var(--space-lg) auto var(--space-md);
	width: fit-content;
	font-weight: 400;
	color: var(--accent-text);

	@media (min-width: 768px) {
		font-size: var(--typography-xs);
	}
}

p {
	font-size: var(--typography-xxs);
	line-height: var(--line-height-body);
	max-width: 600px;
	margin: 0 auto var(--space-sm);

	@media (min-width: 768px) {
		font-size: var(--typography-xs);
		width: 90%;
	}
}

p.project-description {
	text-align: center;
	padding-top: var(--space-sm);
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
}

.caption {
	font-size: var(--typography-xxs);
	line-height: var(--line-height-body);
	padding-bottom: var(--space-md);
	padding-top: var(--space-sm);
}

ul {
	list-style-type: disc;
	padding-left: 20px;
	padding-bottom: var(--space-md);
}

a:hover {
	color: var(--accent-text);
}

a.button {
	text-decoration: none;
}

/*---------------------------CARDS---------------------------*/

.postlist {
	width: 100%;
	padding-left: 0;
	display: flex;
	gap: var(--space-md);
	flex-direction: column;
	margin-top: var(--space-md);

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.content-card {
	width: 100%;
	text-align: center;
	flex: 0 0 48%;
	list-style-type: none;
}

a.project-title {
	color: var(--text-primary);
	font-size: var(--typography-sm);
	line-height: var(--line-height-body);
	text-decoration: none;

	@media (min-width: 768px) {
		font-size: var(--typography-md);
	}
}

a.project-title:hover {
	color: var(--accent-text);
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-thickness: 1.5px;
}

p.card-caption {
	font-size: var(--typography-xxs);
	line-height: var(--line-height-tight);
	margin-top: var(--space-xs);
}

.card-image {
	padding-bottom: var(--space-sm);
}

/* related posts */

.related-posts {
	display: flex;
	flex-direction: column;
	margin-top: var(--space-xl);
}

.divider-word {
	position: relative;
	width: fit-content;
	margin: auto;
	padding: var(--space-xl) 0 var(--space-sm) 0;
	color: var(--accent-text);
}

h2.more-projects {
	margin-bottom: var(--space-sm);
}