*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #FDFCFB;
	margin: 1em auto;
}

html {
	scroll-behavior: smooth;
}

/* ------------------------ */

main{
	position: relative;
	width: 85%;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 3.2em;
}

@media (min-width: 768px) {
	main{
		width: 55%;
	}
}

img{
	width: 100%;
}

/*---------------------------HEADER---------------------------*/

header{
	padding-top: 5.6em;
}

svg.circle{
	position: fixed;
	top: 1.8em;
	left: calc(50% - 20px);
	mix-blend-mode: multiply;
	z-index:10;
}


/*---------------------------TEXT-ALL---------------------------*/

h1, h2, h3, h4, p, li, .caption{
	font-family: Arial, sans-serif;
	color: black;
	font-weight: 400;
}

h1, h2, h3, p.caption, a.project-title{
	text-align: center;
	margin: 0 auto;
	width: 90%;
}

h1{
	font-size: 28px;
	line-height: 32px;
}

h2{
	font-size: 32px;
	font-weight: 100;
	padding-top: 1.6em;
}

h3{
	font-size: 20px;
	font-weight: 100;
	line-height: 24px;
	padding-bottom: 30px;
}

h3.home{
	padding-bottom:20px;
}

h4{
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	font-weight:bold;
}

p, li {
	font-size: 16px;
	line-height: 22px;
}

p.project-description{
	text-align: center;
	padding-top: 1.2em;
	width: 90%;
	margin: 0 auto;
}

.caption{
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 3.2em;
}

ul{
	list-style-type: disc;
	padding-left: 20px;
}

li{
	padding-top:.5em;
}

a{
	color: #8F920B;
}

a.header{
	color: black;
	text-decoration: none;
}

a.header.hover{
	text-decoration: none;
}

a:hover{
	color: #000;
	text-decoration: solid underline #000;
}




@media (min-width: 768px) {

	.body-content{
		width: 75%;
	}

	h1{
		font-size: 32px;
		line-height: 30px;
	}

	h2{
		font-size: 44px;
		line-height: 52px;
	}
	
	h3{
		width: 80%;
		font-size: 24px;
		line-height: 30px;
	}

	h4{
		font-size: 18px;
		line-height: 24px;
	}

	p, li {
		font-size: 18px;
		line-height: 24px;
	}

	p{
	margin-bottom: 24px;
	}

	p.project-description{
		padding-top: 1.6em;
		width: 50%;
	}
}

@media (min-width: 1440px) {

	.body-content{
		width: 65%;
		max-width: 550px;
	}
}


/*---------------------------CARDS---------------------------*/

.postlist{
	width: 100%;
	padding-left: 0;
	/* padding-bottom: 4.8em; */
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.postlist-rec{
	width: 100%;
	padding-left: 0;
	/* padding-bottom: 4.8em; */
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

/* ------------------------ */

.content-card{
	width: 100%;
	text-align: center;
	padding-top: 3.2em;
	flex: 0 0 48%;
	list-style-type: none;
}

a.project-title{
	color: black;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.card-image{
	padding-bottom: 0;
}

@media (min-width: 768px) {
	.postlist{
		flex-direction: row;
	}

	.content-card{
		flex: 0 0 48%;
	}
}

/* ------------------------ */

svg.arrow{
	padding: 3.2em 0 3.2em 0;
	width: 100%;
	margin: 0 auto;
}


        /* <p class="project-description">{{ post.data.description }}</p> */