<header>
    <a href="/">
        <svg class="circle" height="40" width="40" xmlns="http://www.w3.org/2000/svg">
            <circle transform="translate(50%,2%)" r="20" cx="50%" cy="20" fill="#8F920B" />
        </svg>
    </a>

    <a href="/">
        <h1>{{ siteTitle }}</h1>
    </a>

    <nav>
        <ul>
            {% for post in collections.nav %}
            <li class="t-{{ post.data.pageClass }}">
                <a href="{{ post.url }}">{{ post.data.pageTitle }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>