

main{
	position: relative;
	width: 85%;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 3.2em;
}

@media (min-width: 768px) {
	main{
		width: 55%;
	}
}

.body-content{
	width: 100%;
	margin: 0 auto;
	padding: 2.6em 0 3.2em 0;
}

@media (min-width: 1440px) {
	.body-content{
		width: 65%;
		max-width: 550px;
	}
}

/*---------------------------HEADER---------------------------*/

header{
	padding-top: 5.6em;
}

svg.backarrow{
	position: fixed;
	top: 1.8em;
	left: calc(50% - 20px);
	z-index:10;
}

svg.square{
	position: relative;
	left: calc(50% - 14px);
	margin-bottom: 24px;
}

img{
	border-radius: 12px;
	border-width: 1px;
}



/*---------------------------CARDS---------------------------*/


.post-grid{
	width: 85%;
	max-width: 1000px;
	padding-left: 0;
	/* padding-bottom: 4.8em; */
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}



