body {
	font-family: Arial, sans-serif;
	color: black;
	font-weight: 400;
	letter-spacing: .01rem;
}

h1,
h2,
h3,
p.caption,
a.project-title {
	text-align: center;
	margin: 0 auto;
	width: 90%;
}

h1 {
	font-size: 28px;
	line-height: 32px;
	font-weight: 400;
}

h2 {
	font-size: 32px;
	font-weight: 100;
	padding-top: 1.6em;
}

h3 {
	font-size: 20px;
	font-weight: 100;
	line-height: 24px;
	padding-bottom: 30px;
}

h3.home {
	padding: 10px 0 10px 0;
}

h4 {
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	font-weight: bold;
	padding-top: .5em;
}

p,
li {
	font-size: 16px;
	line-height: 22px;
}

p.project-description {
	text-align: center;
	padding-top: 1.2em;
	width: 90%;
	margin: 0 auto;
}

.caption {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 3.2em;
}

ul {
	list-style-type: disc;
	padding-left: 20px;
	padding-bottom: 24px;
}

a {
	color: #000;
}

a.header {
	color: black;
	text-decoration: none;
}

a.header.hover {
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: solid underline #000;
}




@media (min-width: 768px) {

	.body-content {
		width: 75%;
	}

	h1 {
		font-size: 32px;
		line-height: 30px;
	}

	h2 {
		font-size: 44px;
		line-height: 52px;
	}

	h3 {
		width: 80%;
		font-size: 24px;
		line-height: 30px;
	}

	h4 {
		font-size: 18px;
		line-height: 24px;
	}

	p,
	li {
		font-size: 18px;
		line-height: 24px;
		/* margin-bottom: 24px; */
	}

	p {
		margin-bottom: 24px;
	}

	p.project-description {
		padding-top: 1.6em;
		width: 50%;
	}
}

@media (min-width: 1440px) {

	.body-content {
		width: 65%;
		max-width: 550px;
	}
}